issues.txt
.bzr
doc/.build
.tx
*~
*pyc
build
dist
bauble.egg-info
po/*.mo
pot

## temporary files from the Cuchubo activity. ask mario@anche.no
scripts/drop2bauble.py
scripts/fixme.py
scripts/gh-issues-import.py
scripts/map2db.py
scripts/tomongo.py
scripts/what_are_the_problems.py
scripts/what_is_available.py
bauble/test/test_search2.py
bauble/multiple-orig.py 
bauble/multiple.py
piccolo_test.py
po/.doctrees/
