# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
ghini-runtime/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.deb

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

testme.py
issues.txt
.bzr
doc/.build
doc/*.txt
.tx
*~
*pyc
po/*.mo
pot

po/.doctrees/
doc/_build/
doc/locale/
.build/
cover/
.project
.pydevproject
.settings/
bauble/plugins/plants/default/ars-grin/?????.html
bauble/plugins/plants/default/ars-grin/taxonomygenus.tar.gz
bauble/plugins/plants/default/genera-conservanda-uniq.json
bauble/plugins/plants/default/genera-conservanda.json
users.json

registered.users.txt
issue-.sql
issue-0177.py
issue-0177.py.txt
try-me

## temporary files from the Cuchubo activity. ask mario@anche.no
aaa-start-here.py
glade-tester.py
glade-tester.glade

todo*.txt
from_*.tar.gz
settings.json
odk-seen.json
imex-it.rst
ghini.py
what-icon-at-menuitem.org

travis-log.txt
travis-log1.txt
