# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

testme.py
issues.txt
.bzr
doc/.build
doc/*.txt
.tx
*~
*pyc
po/*.mo
pot

## temporary files from the Cuchubo activity. ask mario@anche.no
scripts/drop2bauble.py
scripts/fixme.py
scripts/gh-issues-import.py
scripts/map2db.py
scripts/tomongo.py
scripts/what_are_the_problems.py
scripts/what_is_available.py
scripts/ghini.lnk
bauble/test/test_search2.py
bauble/multiple-orig.py 
bauble/multiple.py
piccolo_test.py
po/.doctrees/
issues/
doc/_build/
doc/locale/
bauble/plugins/plants/ipni.org/
.build/
cover/
.project
.pydevproject
.settings/
bauble/plugins/plants/default/ars-grin/?????.html
bauble/plugins/plants/default/ars-grin/taxonomygenus.tar.gz
bauble/plugins/plants/default/genera-conservanda-uniq.json
bauble/plugins/plants/default/genera-conservanda.json
users.json

registered.users.txt
issue-.sql
issue-0177.py
issue-0177.py.txt