recursive-include bauble *.ui *.py *.glade *.txt *.xsl *.m
#recursive-include debian *.*
recursive-include bauble/images *.*
recursive-include bauble/pixmaps *.*
include README LICENSE CHANGES INSTALL bauble.desktop pavement.py