.toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

.toggle .admonition-title:after {
    content: " ▼";
}

.first.admonition-title:hover {
    color: #ffff00;
}

.toggle .admonition-title.open:after {
    content: " ▲";
}

.tight-table td {
    white-space: normal !important;
}

.tight-table td {
    vertical-align: top;
    border: 1px transparent;
}

.tight-table tr:nth-child(2n-1) td {
    background: transparent;
}

p {
    margin-bottom: 12px;
}

table.borderless  {
    border: 0;
}