h1, h2, h3, h4 {
    overflow: hidden;
    text-align: left;
}

h1:after, h2:after, h3:after, h4:after {
  content: "";
  display: inline-block;
  width: 81;
  vertical-align: middle;
  border-bottom: 1px solid #404040;
  margin: 0 -55% 0 .5em;
}

.toggle .admonition-title {
    display: block;
    clear: both;
    cursor: pointer;
}

.toggle .admonition-title:after {
    content: " ▼";
}

.first.admonition-title:hover {
    color: #ffff00;
}

.toggle .admonition-title.open:after {
    content: " ▲";
}

.tight-table td {
    white-space: normal !important;
}

p {
    margin-bottom: 12px;
}

