Package: bauble
Version: 0.9.0b
Section: science
Priority: optional
Architecture: all
Depends: python (>=2.5,<2.6), python-sqlalchemy (>= 0.5rc4), python-simplejson (>= 1.9.1), python-lxml (>= 2.1.1), python-gdata (>= 1.0.9), python-mako (>=0.2.2)
Recommends: fop (>=0.94)
Suggests: 
Maintainer: Brett Adams <brett@belizebotanic.org>
Description: An application for managing biodiversity collections.

