Package: bauble
Version: 1.0.82
Architecture: all
Maintainer: Giacomo Catenazzi <cate@debian.org>
Installed-Size: 2873
Depends: xdg-utils, python-egenix-mxdatetime, python-sqlalchemy (>= 0.6), python-lxml (>= 2.0), python-pyparsing, python-gtk2 (>= 2.12), librsvg2-common, python-glade2, python-gdata (>= 1.1.1), python-mako (>= 0.2.2), python-pysqlite2 (>= 2.3.2) | python-mysqldb | python-psycopg2, python:any (>= 2.7.5-5~)
Recommends: python-mysqldb | python-psycopg2
Section: science
Priority: extra
Homepage: http://ghini.github.io/
Description: biodiversity collection manager software application
 Bauble is a software application to help you manage a collection of
 botanical specimens. It is intended to be used by botanic gardens,
 herbaria, arboreta, etc. to manage their collection information.
 It is a open, free, cross-platform alternative to BG-Base and
 similar software.
