[Desktop Entry]
Encoding=UTF-8
Name=Bauble
Version=0.9.0b4  # :bump
Comment=An application for managing botanical collections
Terminal=False
Icon=bauble
Type=Application
Exec=bauble
Categories=Education;