[Desktop Entry]
Encoding=UTF-8
Name=Bauble
Version=1.0.49  # :bump
Comment=An application for managing botanical collections
Terminal=False
Icon=bauble
Type=Application
Exec=bauble
Categories=Education;