[Desktop Entry]
Encoding=UTF-8
Name=Ghini
Version=3.1.5  # :bump
Comment=An application for managing botanical collections
Terminal=False
Icon=ghini
Type=Application
Exec=ghini
Categories=Education;